.container{
    height: 500px;
    width: 400px;
    margin: 30px auto;
    background: linear-gradient(rgb(103, 103, 238),rgb(36, 36, 139),rgb(3, 3, 45));
    border-radius: 20px;
}

.items{
    text-align: center;
}

.city{
    border: none;
    margin: 20px 0;
    padding: 10px 15px;
    border-radius: 10px;
}

.button{
    border: none;
    border-radius: 50px;
    background-color: white;
    padding: 10px 15px;
    margin: 0 0 0 10px;
}
.temp{
    font-size: 70px;
    color: white;
    font-weight: 700;
    margin: 40px 0;
}
.location{
    font-size: 30px;
    color: white;
    font-weight: 700;
    margin: 70px 0 20px 0;
}
.country{
    font-size: 30px;
    color: white;
    font-weight: 700;
    margin: 20px 0;
}
.humidity,.hum{
    display:inline;
    font-size: 30px;
    color: darkcyan;
}
.wi,.wind{
    display:inline;
    font-size: 30px;
    color: darkcyan;
}
.sunr,.sunrise{
    display:inline;
    font-size: 30px;
    color: darkcyan;
}
.suns,.sunset{
    display:inline;
    font-size: 30px;
    color: darkcyan;
}