.logo{
    width: 120px;
}
.search{
    width: 2000px ;
    margin: 0 20px;
}

.icon{
   padding: 0 10px 0 50px;
   font-size: 15px;
}
.stext h5{
    font-size: 70px;
    text-align: right;
    margin: 10px 10px 0 0;
}
.bgimg{
    background-image: url(./bgimg.png);
}
.icon1{
    text-align:left;
    padding: 0 0 0 10px;
}